.b-logo__link
  border 0 none
  text-decoration none

.b-logo__name
  font 300 2.3em Linear, 'Open Sans', Arial, Helvetica, san-serif
  padding 6px 0 0 6px
  display inline-block
  color #000

.b-logo__slogan
  font 300 1.2em 'Open Sans', sans-serif
  padding 4px 0 0 10px
  display inline-block



.b-logo__link_weather
  color: #fff